/* Attribution
   ========================================================================== */

.attribution {
  color: hsl(189, 99%, 40%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}