:root {
  /* sedan */
  --bright-orange: hsl(31, 77%, 52%);
  /* suv */
  --dark-cyan: hsl(184, 100%, 22%);
  /* luxery */
  --very-dark-cyan: hsl(179, 100%, 13%);
  /* paragraphs */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --very-light-gray: hsl(0, 0%, 95%);
}

html {
  font-size: 0.83em;
}

body {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 16px);
  width: 100%;
}

/* Main is growing and sections are not growing with it, center content in grid */

section {
  padding: 3.13rem;
  /* max-width: 28rem; */
}

figure {
  margin: 0;
}

h2 {
  color: var(--very-light-gray);
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2em;
}

p {
  width: 15.2rem;
  color: var(--transparent-white);
  line-height: 1.6;

}

button {
  padding: 1.2rem 2.4rem;
  background-color: var(--very-light-gray);
  border: 1px solid var(--very-light-gray);
  border-radius: 2rem;
  font-size: inherit;
  font-weight: bold;
}

/* Main Content
   ========================================================================== */
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 1em;
}

.sedan {
  background-color: var(--bright-orange);
  border-radius: 10px 10px 0 0;
}

.sedan button {
  color: var(--bright-orange);
}

.suv {
  background-color: var(--dark-cyan);
}

.suv button {
  color: var(--dark-cyan);
}

.luxery {
  background-color: var(--very-dark-cyan);
  border-radius: 0 0 10px 10px;
}

.luxery button {
  color: var(--very-dark-cyan);
}

button:hover {
  background-color: inherit;
  color: var(--very-light-gray);
  cursor: pointer;
}

/* Attribution
   ========================================================================== */

.attribution {
  color: hsl(189, 99%, 40%);
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-weight: 500;
  color: hsl(228, 45%, 44%);
}


/* Tablets
   ========================================================================== */
@media screen and (min-width: 1200px) {

  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .sedan {
    border-radius: 10px 0 0 10px;
  }

  .luxery {
    border-radius: 0 10px 10px 0;
  }
}